In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [33]:
#clothing and footware
res = requests.get("https://liveinmelbourne.vic.gov.au/live/money-and-tax/cost-of-living-in-melbourne/melb-china-cost-of-clothing-and-footwear")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')
df_cloth = pd.read_html(str(table))
df_cloth[3]

  Children's wear (age 8 to 10)  Australian dollars (A$)  Chinese Yuan (CNY¥)
0     Boys' cotton school shirt                    49.95                400.0
1              Children's shoes                    79.95                550.0
2         Children's blue jeans                    79.95                488.0
3                  Boys' blazer                   159.50                499.0
4           Girls' school dress                   109.00                520.0

In [34]:
#food
res = requests.get("https://liveinmelbourne.vic.gov.au/live/money-and-tax/cost-of-living-in-melbourne/melb-china-cost-of-food-and-groceries")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')
df_food = pd.read_html(str(table))
df_food[0]

,Milk and dairy products,Australian dollars (A$),Chinese Yuan (CNY¥)
0,"Milk, pasteurised whole milk (1 L)",2.57,23.00
1,"Cream, pasteurised (0.5 L)",4.11,62.00
2,"Butter, table quality (500 g)",5.04,84.50
3,"Yoghurt, natural or plain (180 g)",2.17,11.76
4,"Cheese, French camembert (500 g)",29.22,162.00
5,"Eggs, large, grade A (12)",6.03,21.36

In [35]:
#personal care & cosmetics
res = requests.get("https://liveinmelbourne.vic.gov.au/live/money-and-tax/cost-of-living-in-melbourne/melb-china-cost-of-personal-care-and-cosmetics")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')
df_care = pd.read_html(str(table))
df_care[0]

,Toiletries,Australian dollars (A$),Chinese Yuan (CNY¥)
0,Tampon (box of 40/regular),13.04,58.75
1,Toilet tissue (2 rolls),2.39,9.60
2,"Soap, 1 bath-size (150 g)",2.86,11.40
3,Shower gel (250 ml),3.84,21.00
4,"Hair shampoo, 2-in-1 (200 ml)",4.80,29.67
5,Disposable diapers (box of 52),23.90,165.29
6,"Toothpaste, with fluoride (120 g)",4.36,13.80
7,"Deodorant, roll-on (50 ml)",4.01,36.80
8,Razor blades (5 blades),28.20,228.00
9,Facial tissues (box of 100),2.12,4.67

In [36]:
#home services and utilities
res = requests.get("https://liveinmelbourne.vic.gov.au/live/money-and-tax/cost-of-living-in-melbourne/melb-china-cost-of-domestic-supplies,-home-services-and-utilities")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')
df_service = pd.read_html(str(table))
df_service[0]

,Detergent and cleaning products,Australian dollars (A$),Chinese Yuan (CNY¥)
0,Laundry detergent normal (2.5 kg),25.13,38.97
1,Dishwashing machine detergent (1 kg),21.82,108.75
2,Dishwashing liquid detergent (500 ml),4.40,23.33
3,Furniture polish (330 g),7.30,59.39
4,Household cleaning product (850 g),8.46,30.17
5,Insect killer (330 g),7.30,17.63

In [37]:
#home services and utilities
res = requests.get("https://liveinmelbourne.vic.gov.au/live/money-and-tax/cost-of-living-in-melbourne/melb-china-cost-of-restaurants-and-leisure")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')
df_leisure = pd.read_html(str(table))
df_leisure[0]

,Food away from home,Australian dollars (A$),Chinese Yuan (CNY¥)
0,Elegant 3 course dinner for 2 persons,425.00,2762.0
1,"1 cup of coffee, including service",4.00,38.0
2,Fast food hamburger menu,9.75,32.0
3,Pizza meal for 2 persons,77.00,416.0
4,Lunch for 2 persons,185.00,870.0
5,One glass of Mineral water or soft drink,6.00,40.0

In [2]:
#transportation
res = requests.get("https://liveinmelbourne.vic.gov.au/live/money-and-tax/cost-of-living-in-melbourne/melb-china-cost-of-transportation")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')
df_trans = pd.read_html(str(table))
df_trans[0]

,Automobiles,Australian dollars (A$),Chinese Yuan (CNY¥)
0,"Economy car (up to 1800 cc, 4 door)",36990.0,276266.0
1,Mid-range sedan/wagon (up to 2500 cc),94000.0,636900.0

In [70]:
df_food[0]

,Milk and dairy products,Australian dollars (A$),Chinese Yuan (CNY¥)
0,"Milk, pasteurised whole milk (1 L)",2.57,23.00
1,"Cream, pasteurised (0.5 L)",4.11,62.00
2,"Butter, table quality (500 g)",5.04,84.50
3,"Yoghurt, natural or plain (180 g)",2.17,11.76
4,"Cheese, French camembert (500 g)",29.22,162.00
5,"Eggs, large, grade A (12)",6.03,21.36

In [8]:
df_trans[1]

,Automobile parts and running costs,Australian dollars (A$),Chinese Yuan (CNY¥)
0,Annual registration fee/road tax,800.80,1425.0
1,Third-party and collision insurance,2380.00,17457.0
2,Price of 4 new summer radial tyres,1074.00,7120.0
3,Engine oil (1 L),13.99,124.0
4,"Petrol, gasoline (1 L)",1.47,6.8