In [13]:
import pandas as pd
import numpy as np
import re

In [14]:
df = pd.read_excel('2_bed_final.xlsx')

In [15]:
df = df.reset_index()

In [16]:
df = df.rename(index=str, columns={"index": "Rent_id"})

In [17]:
df.head()

,Rent_id,Region,Suburb,2018_Mar_Count,2018_Mar_Median,2018_Jun_Count,2018_Jun_Median,2018_Sep_Count,2018_Sep_Median,Average_of_Median,Average_per_person
0,0,Inner Melbourne,Albert Park,233,495,235,500,217,500,498.333333,249.166667
1,1,Inner Melbourne,Middle Park,233,495,235,500,217,500,498.333333,249.166667
2,2,Inner Melbourne,West St Kilda,233,495,235,500,217,500,498.333333,249.166667
3,3,Inner Melbourne,Armadale,452,498,464,500,415,500,499.333333,249.666667
4,4,Inner Melbourne,Carlton North,95,485,95,490,101,485,486.666667,243.333333

In [18]:
df_final = df[['Rent_id','Region','Suburb','Average_per_person']]

In [19]:
df_final = df_final.dropna()

In [20]:
df_final['Average_per_person'] = df_final['Average_per_person'].round(0).astype(int)

In [21]:
df_final['Suburb'] = df_final['Suburb'].str.upper()

In [22]:
df_final.head()

   Rent_id           Region         Suburb  Average_per_person
0        0  Inner Melbourne    ALBERT PARK                 249
1        1  Inner Melbourne    MIDDLE PARK                 249
2        2  Inner Melbourne  WEST ST KILDA                 249
3        3  Inner Melbourne       ARMADALE                 250
4        4  Inner Melbourne  CARLTON NORTH                 243

In [23]:
df_final.isnull().values.any()

False

In [27]:
df_final = df_final.set_index('Rent_id')

In [28]:
df_final.to_csv('rent_final.csv')